torch>=2.4
transformers
numpy
ray>=2.0
sglang>=0.5.6
sglang_router
datasets
tqdm
requests
safetensors
huggingface_hub
torchdata
peft
wandb   
triton
ring_flash_attn

# install flash_attn after torch installation
# flash_attn
